services:
  backend:
    build:
      context: ./backend
    ports:
      - "3000:3000"
    volumes:
      - ./backend/pedidos.json:/app/pedidos.json
    environment:
      - PORT=3000

  frontend:
    build:
      context: ./frontend
    ports:
      - "5173:5173"    
    depends_on:
      - backend
